/* Add CSS Styling */
.odd {
    background-color: pink;
    font-size: 20px;
    font-family: Verdana, Dejavu Sans, sans-serif;
}

#first {
    color: blue;
    font-size: 36px; 
}

.another-class {
    font-size: 24px;
}

#second {
    background-color: lightgreen;
    font-size: 24px; 
    font-weight: bold;
}   