/* Add CSS Styling */
.odd {
    background-color: #FFC0CB;
    font-size: 20px;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#first {
    color: #0000FF;
    font-size: 36px;
}

.another-class {
    font-size: 24px;
}

#second {
    background-color: #90EE90;
    font-size: 24px;
    font-weight: bold;
}   